/* Fireflye  -  small screens, mobile  -  smallstyle.css

/* dev colour: #442546;

*/

:root { /* CSS variables HAVE TO be declared within this root tag */

	/*color scheme*/
	--main_back_color: #E5E5E5;
	--item_back_color: white;
	--bar_color: #5645FF;
	--useraccess_highlight: #5645FF;

	--button1_color: #585666;
	--button2_color: #87858E;

	--primary_font: black; /* main color */
	--secondary_font: gray; /* "less prio" main color */
	--teriary_font: white; /* Button/input color */

	--mental_color: #25D3A4;
	--personal_color: purple;
	--physical_color: pink;
	--social_color: blue;
}

html {
	background-color: var(--main_back_color);
	font-family: "Raleway";
	color: var(--primary_font);
}

body {

}

header {

}

main {

}



/*----------------------------------------|
|-----------------------------------------|
|--------------TASK DO LIST---------------|
|-----------------------------------------|
|----------------------------------------*/

#task-list {
	display: grid;
	grid-template-columns: auto;
}

#task-list #selected-task {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.task-box {
	border: 0px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px gray;
	background-color: var(--item_back_color);

	margin: 30px 20px 10px 20px;

	display: grid;
	grid-template-columns: 30px 1fr 40px;
	grid-template-rows: 50px;
	overflow: hidden;
}

/* different banners for different task categories: */
.task-box.mental > #stripe-div {background-color: var(--mental_color);}
.task-box.personal > #stripe-div {background-color: var(--personal_color);}
.task-box.physical > #stripe-div {background-color: var(--physical_color);}
.task-box.social > #stripe-div {background-color: var(--social_color);}

.task-box > #stripe-div { /* global category banner styles: */
	height: 10000%;
	width: 4px;
	position: relative;
	top: -5px;
	left: 10px;
}

.task-box button {
	margin: auto;
	background-color: #ffffff00;
	border: 0;
}

.task-box button img {
	height: 25px; /* == (max)grid height */
}

.task-box #stripe-div, .task-box h3, .task-box button {
	line-height: 1;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}

.task-action-prompt{
	display: none;
}

#selected-task > .task-action-prompt {
	display: grid;
	grid-template-columns: 1fr / 1fr;
	grid-template-rows: 50px;
}

.task-action-prompt label, .task-action-prompt input, .task-action-prompt button { /* repeating values*/
	color: var(--teriary_font);
	border: 0px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #000000;
	margin: 10px;
	padding: 5px;
	align-self: center;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.task-action-prompt label, .task-action-prompt input {
	grid-column: 1/2;
	grid-row: 1/2;
	background-color: var(--button1_color);
}

.task-action-prompt input {
	opacity: 0%;
}

.task-action-prompt button {
	grid-column: 2/3;
	background-color: var(--button2_color);
}

.Mon, .Tue, .Wed, .Thu, .Fri, .Sat, .Sun {
	display: none;
}

/* .Fri { */
	/* display: block; */
/* } */



/*----------------------------------------|
|-----------------------------------------|
|------------TASK INFO POPUP--------------|
|-----------------------------------------|
|----------------------------------------*/

.task-info-box {
	z-index: 5;
	position: absolute;
	top: 240px; /* refence this to however much space the flames take */
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 100%;

	border: 0px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #000000;
	background-color: var(--item_back_color);

	display: grid;
	grid-template-columns: 30px 1fr 50px;
	grid-template-rows: 50px auto 50px auto 80px; /* Box size control */
	overflow: hidden;
}

.exitbtn {
	border: 0px solid transparent;
	background-color: ffffff00;
	font-size: 1em;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.task-info-box.mental > #expanded-stripe-div {background-color: var(--mental_color);}
.task-info-box.personal > #expanded-stripe-div {background-color: var(--personal_color);}
.task-info-box.physical > #expanded-stripe-div {background-color: var(--physical_color);}
.task-info-box.social > #expanded-stripe-div {background-color: var(--social_color);}

.task-info-box #expanded-stripe-div { /* global category banner styles: */
	height: 10000%;
	width: 5px;
	position: relative;
	top: -5px;
	left: 10px;
	grid-column: 1 / 2;
	grid-row: 1 / 6;
}

.task-info-box h3 {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	margin: 0;
}

.task-info-box p {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	margin: 0;
}

.task-info-box p:first-of-type {
	color: var(--secondary_font);
}

.task-info-box p:last-of-type {
	grid-column: 2 / 4;
	grid-row: 4 / 5;
	padding: 10px;
	padding-left: 0;
	word-break: break-all;
}

.task-info-box form {
	grid-column: 2 / 4;
	grid-row: 5 / 6;
	display: grid;
	column-gap: 25px;

	margin-right: 10px;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 30px 1fr;
}

.task-info-box form .task-box-btnset1 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	background-color: var(--button1_color);
	border: 0px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #000000;

}

.task-info-box form .task-box-btnset2 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;

	background-color: var(--button2_color);
	border: 0px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #000000;
}

.task-info-box form label {
	color: var(--teriary_font);
	border: 0px solid #000000;
	border-radius: 6px;

	line-height: 30px;
	text-align: center;
}

.task-info-box form input {
	opacity: 0%
}

.task-info-box { /* Hide all for JS */
	display: none;
}




/*----------------------------------------|
|-----------------------------------------|
|------------USER ACCESS FORMS------------|
|-----------------------------------------|
|----------------------------------------*/

#useraccess-form {
	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #000000;
	background-color: var(--item_back_color);

	padding: 20px;
	margin-top: 20px;

}

#useraccess-form fieldset {
	/* Fieldset reset: */
	border: 0;
	padding: 0;

	margin: auto;
}

#useraccess-form fieldset legend, #useraccess-form fieldset p {
	text-align: center;
}

#useraccess-form fieldset legend {
	font-size: 1.2em;
}

#useraccess-form fieldset p {
	font-size: .8em;
	color: var(--secondary_font);
	margin-bottom: 25px;
	/* font-weight: 300; Want to change font weight, but no change is regiseted */
}

#useraccess-form input {
	font-size: 1.2em;
	height: 1.5em;
	width: 100%;
	display: block;
	margin: 5px auto 10px auto;
	border: 1px solid var(--useraccess_highlight);
	border-radius: 2px;
}

#useraccess-form .submit-button {
	border-radius: 4px;
	height: 35px;
	min-width: 100px;
	max-width: 50%;
	margin: 25px auto;
	padding: 5px 15px;
	color: var(--teriary_font);
	background-color: var(--useraccess_highlight);
}

#useraccess-form div {
	text-align: center;
}

#useraccess-form div p, #useraccess-form div button {
	color: var(--secondary_font);
	display: inline-block;
	font-size: .8em;
}

#useraccess-form div button {
	font-weight: 500;
	border: 0px;
	background-color: #ffffff00; /* transparent background */
	text-decoration: underline;
	display: inline-block;
}



#signup-form { /* Signup is inheritly hidden, JS will swap that around when needed */
	display: none;
}


/*-----------------TASK INTERACTION-------------------------*/

#task-creation{
	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #000000;
	background-color: var(--item_back_color);
	padding: 20px;
	margin-top: 20px;
}

#task_title{
	font-size: 1.2em;
	height: 1.5em;
	width: 197px;
	display: inline-block;
	margin: 10px auto 10px auto;
	border: 1px solid var(--useraccess_highlight);
	border-radius: 2px;
}

#task_description {
	font-size: 1.2em;
	height: 5em;
	width: 227px;
	float: left;
	margin: 5px auto 10px auto;
	border: 1px solid var(--useraccess_highlight);
	border-radius: 2px;
}

#task_prio{
	display: inline-block;

}

#boxtitle{
	text-align: center;
	font-size: 2em;
}

.day-block {
	display:inline-block;
}

.cat-block{
	display: inline-block;
	margin: 5px auto 10px auto;
	border: 1px solid var(--useraccess_highlight);
	border-radius: 2px;
}

.rep-block{
	display: inline-block;
	margin: 5px auto 10px auto;
	border: 1px solid var(--useraccess_highlight);
	border-radius: 2px;
}
